language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.5-dev" # 3.5 development branch
  - "nightly" # currently points to 3.6-dev

  - "pypy"
  - "pypy3"

# command to install dependencies (we have none right now)
install: python setup.py develop

# command to run tests
script: nosetests
